/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.page-name,thead,.tate-th {
  background-color: #f5f5f5;
  }



.page-name {
  margin: 20px;
}

.logo {
  border: solid;
}

.page-name {
  display: inline;
}

.btn {
  margin-right: 20px;
}

.logo {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
}

strong {
  margin-right: 10px;
}

.item-new {
  margin: 0 auto;
}

.top-text {
  padding: 80px;
}

.about-text, .sgin-text .taikai {
   text-align: center;
}

.about {
  font-size: 80px;
  padding-bottom: 30px;
}

.sgin-in {
  padding-top: 100px;
}

.pagenation {
  margin-top: 30px;
}

.bottom {
  font-size: 50px;
}

.td-statu {
  color: #008000;
}

.row {
  margin-bottom: 30px;
  margin-top: 30px;
}

.down {
  padding-left: 20px;
}

.down-2 {
  padding-left: 30px;
}

.confirm {
  margin-top: 200px;
}

